{% extends "_main.jinja" %}

{% block title %} Error {% endblock %}

{% block main %}
    <div class="internal_error">
        <p>
        Oooops! Error occured. Sorry, unknown error occured. Please contant the admin. 
        <a href"mailto:support@blabla.sk">support</a>
        </p>
    </div>
{% endblock %}